@import (less) "../../node_modules/purecss/build/pure-nr-min.css";
@import (less) "../../node_modules/purecss/build/grids-responsive-min.css";
@tint: #10aded;
@infobarColor: tint(@tint, 70);

html,
button,
input,
select,
.pure-g [class*="pure-u"] {
    /* Set your content font stack here: */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

textarea {
    font-family: "Fira Code", "Courier New", Courier, monospace;
}

.button-xsmall {
    font-size: 70%;
}

.shadow(@hh) {
    @h: max(1%, min(100%, 1% * @hh)); // sea blue
    box-shadow: 0 0 10px 1px fadeout(rgba(0, 0, 0, 0.2), @h),
        0 0 (3px * @hh) 3px fadeout(rgba(0, 0, 0, 0.25), @h),
        0 0 (3px * @hh) fadeout(rgba(0, 0, 0, 0.14), @h);
}

nav {
    > section {
        padding: 0.3em;

        &:empty {
            display: none;
        }
    }

    overflow: auto;
    box-sizing: border-box;
    background: lighten(@tint, 50%);
    height: 100%;
    .shadow(9);
    z-index: 2;
}

body {
    height: 100%;
    overflow: hidden;
}

.small-head {
    font-size: 1em;
}

pre:empty {
    display: none;
}

main {
    padding: 1rem;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;

    > * {
        position: relative;
    }
    > form {
        &.closed {
            display: none;
        }

        &:not(.closed) ~ #visBtn {
            display: none;
        }

        &:not(.closed) ~ #pannelCloseBtn {
            display: block;
        }

        > *:not(:first-child) {
            margin-top: 0.5em;
        }

        .shadow(2);
        margin: -1em -1em 1em -1em;
        padding: 0.5em 1em;
        border-bottom: 1px solid #eee;
        z-index: 1;

        & > h2 {
            margin-top: 0;
            font-size: 1em;
        }
    }
}

#pannelCloseBtn {
    z-index: 2;
    display: none;
    position: absolute;
    top: 0.4rem;
    right: 0.5rem;
    background: transparent;
    border: none;

    &:hover,
    &:active {
        > svg {
            fill: black;
        }
    }

    > svg {
        width: 1.5rem;
        height: 1.5rem;
        fill: #999;
        cursor: pointer;
    }
}

#visulisation {
    margin: -1em;
    width: calc(100% + 2rem);
    height: calc(100% + 2rem);
    box-sizing: content-box;
}

#visBtn {
    position: absolute;
    top: 0;
    right: 0;
}

header {
    background: @tint;
    height: 2em;
    text-align: center;
    line-height: 2em;
    font-size: 2em;
    color: white;

    img {
        height: 1.5em;
        margin-top: 0.25em;
        float: left;
        margin-left: 0.25em;
        margin-right: -1.5em;
    }
}

.previewExport {
    max-width: 100%;
}

button#reheat:hover use {
    fill: #ff5722;
}

button#getSVG:hover use {
    fill: #3f51b5;
}

button#rezoom:hover svg {
    transform: rotate(30deg);
}

button[onclick="toggle('doReduction')"]:hover use {
    fill: #3f51b5;
}

button[onclick="toggle('createQry')"]:hover use {
    fill: #009688;
}

button[onclick="toggle('createLanguage')"]:hover use {
    fill: #9c27b0;
}

.pure-input-1 ~ .pure-input-1 {
    margin-top: 0.25em;
}

.pure-button {
    &.pure-button-primary use {
        fill: white;
    }

    &.large-icon-button {
        text-align: center;
        font-size: 0.7em;

        svg {
            display: block;
            margin: 0 auto;
            width: 2em;
            height: 2em;
        }
    }

    svg {
        display: inline-block;
        margin-bottom: -0.2ex;
        width: 1em;
        height: 1em;
    }

    overflow: hidden;
    text-overflow: ellipsis;
}

.bubble {
    > circle {
        fill: url("../svg.svg#bubbleGradient") #eee;
        stroke: transparent;
    }

    > use {
        pointer-events: none;
    }

    > path {
        fill: #eee;
        cursor: pointer;
        mix-blend-mode: darken;
        stroke: #aaa;
        stroke-width: 0.5;

        &:hover {
            fill: #ff2d2d;
        }
    }

    > path + use {
        fill: black;
    }

    > path:hover + use {
        fill: white;
    }
}

#statusSection span {
    &.diff {
        color: red;
        background: #fff0ba;
    }

    &.same {
        color: black;
    }
}

#treeInfoBar {
    margin: calc(-15vh - 1rem) -1rem -1rem -1rem;
    padding: 0.5rem 1rem;
    height: calc(15vh + 1rem);
    background-color: fade(@infobarColor, 70%);

    transition: background-color 300ms;
    transition: box-shadow 300ms;
    .shadow(4);

    &:hover {
        .shadow(2);
        background-color: tint(@infobarColor, 30%);
        & > pre {
            span,
            div {
                &.diff {
                    color: red;
                    background: #fff0ba;
                }
            }
        }

        & > button > svg {
            fill: black;
        }
    }

    & > pre {
        span,
        div {
            &.diff {
                color: rgb(255, 79, 79);
                background: #fff0ba88;
            }

            &.same {
                color: black;
            }
        }
    }

    &.closed {
        display: none;
    }

    &.max {
        height: calc(100vh - 3rem);
        bottom: 0;
        box-shadow: none;
        margin-top: calc(-100vh + 3rem);
        background: white;

        #ruleInfo {
            width: 100%;
            display: block;
            height: max-content;
            padding: 1rem;
            background: #eee;
            border-radius: 1rem;
            margin-bottom: 1em;
        }

        & > pre {
            width: 45%;
            border: 1px dashed #999;

            &:first-of-type {
                margin-right: 2rem;
            }
        }
    }

    & > pre {
        white-space: pre-line;
        overflow-y: auto;
        margin: 0;

        & div {
            padding-left: 0.5em;
        }
    }
    & > pre,
    & > div {
        display: inline-block;
        box-sizing: border-box;
        width: 30%;
        position: relative;
        height: 100%;
        vertical-align: top;
    }
    #ruleInfo > svg {
        width: 100%;
    }

    > button {
        position: relative;
        float: right;
        width: 1em;
        height: 1em;
        display: block;
        background: transparent;
        border: none;
        padding: 0;
        margin-right: 0.5em;

        &.close {
            &:hover > svg {
                fill: red;
            }
        }
        &:hover > svg {
            fill: red;
        }
        & > svg {
            fill: lightgray;
            display: block;
            height: 1em;
            width: 1em;
        }
    }
}

#treeInfoExpandBtn &:hover > svg {
    fill: blue;
}

.stretch {
    width: 100%;
}

// position icon in headers
h1,
h2,
h3,
h4,
h5,
h6 {
    svg {
        margin-bottom: -0.3ex;
    }
}

.colourpicker {
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    border-width: 0.125rem;
    border-style: solid;
    margin-right: 1rem;
}
