body {
  padding-top: 5rem;
}
.template {
  padding: 3rem 1.5rem;
  text-align: center;
}

#Term { 
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 60%;
    margin: auto;
}
 
