.graph-arrows {
    stroke-width: 2;
    fill: transparent;
}

.graph-nodes {
    cursor: move;
    fill: rgb(86, 198, 212);
    stroke: #ffffff;
    stroke-width: 2;
}

.graph-nodes .expandable {
    stroke: grey;
}

.graph-nodes .limited {
    stroke: pink;
}

.graph-nodes .stuck {
    stroke: red;
}

.graph-nodes .stuck:not([class*="highlight-"]) {
    fill: red;
}

.graph-nodes .start {
    fill: greenyellow;
}

.graph-nodes .highlighted {
    stroke: red !important;
}

.graph-nodes .expanding {
    fill: orange;
}

.graph-nodes .start.stuck {
    fill: greenyellow;
    stroke: red;
}

.graph-texts {
    font-size: 5px;
    font-family: "Noto Sans", "Courier New", monospace;
    font-variant: small-caps;
}
